{% extends 'manage/basic.html' %}

{% block page_content %}
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> 最近动态</h4>
          </div>
          <div class="card-body" style="min-height: 20rem;">
            <div class="table-responsive">
              <table class="table">
              <thead>
                <tr>
                  <th scope="col">姓名</th>
                  <th scope="col">联系方式</th>
                  <th scope="col">备注</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>张山</td>
                  <td>18190787738</td>
                  <td>周末准时参加活动</td>
                </tr>
                <tr>
                  <td>张山</td>
                  <td>18190787738</td>
                  <td>周末准时参加活动</td>
                </tr>
                <tr>
                  <td>张山</td>
                  <td>18190787738</td>
                  <td>周末准时参加活动</td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}