
<div style="height: 15rem; background: url('{{ url_for('static', filename='img/bg-img.png') }}') no-repeat; background-size: cover; background-position: bottom; color: #303b4a">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col m-0 p-0">
                <img src="{{ url_for('static', filename='img/logo.gif') }}" width="80rem" height="80rem">
                <span class="h2 align-middle pr-1" style="font-weight: bolder; border-right: 0.2rem solid #303b4a;">超级国风</span>
                <span class="d-inline-block align-middle ml-1 pt-1 small">
                    Copyright &copy; 超级国风<br>
                    <a class="text-reset" href="#">蜀ICP备05006454号</a>
                </span>
            </div>
        </div>
    </div>
</div>