
{% macro load_more(url, tag) %}

    <div class="row justify-content-center py-3">
        <button class="btn btn-outline-secondary" id="load-more">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            查看更多 <i class="fas fa-angle-double-down"></i>
        </button>
    </div>

    <script type="text/javascript">
        $(function () {
            let url_init = '{{ url }}';
            let $tag = $('{{ tag }}');

            let setStatus = function () {
                $('{{ tag }} a').click(function () {
                    window.sessionStorage.main_second_content = $tag.html();
                    window.sessionStorage.main_second_scroll = $(window).scrollTop();
                    window.sessionStorage.main_second_url_init = url_init;
                    window.sessionStorage.main_second_flag = true;
                });
            };

            $('#load-more').on('click', function () {
                $.ajax({
                    url: url_init,
                    type: 'get',
                    beforeSend: () => {$('.spinner-border').show(); $(this).attr('disabled', true);},
                    success: function (data) {
                        $tag.append(data.content);
                        if (data.next_url) {
                            url_init = data.next_url;
                            $('.spinner-border').hide();
                            $('#load-more').removeAttr('disabled');
                        } else {
                            $('#load-more').html('全部已加载');
                        }
                        setStatus();
                    }
                });
            });

            if (window.sessionStorage.main_second_flag === 'true') {
                $tag.html(window.sessionStorage.main_second_content);
                $(window).scrollTop(parseInt(window.sessionStorage.main_second_scroll));
                url_init = window.sessionStorage.main_second_url_init;
                window.sessionStorage.removeItem('main_second_flag');
                setStatus();
            } else {
                $('#load-more').click();
            }

        });
    </script>

{% endmacro %}