
{% macro load_more(url, tag) %}

    <div class="row justify-content-center py-3">
        <button class="btn btn-outline-secondary" id="load-more">
            查看更多 <i class="fas fa-angle-double-down"></i>
        </button>
    </div>

    <script type="text/javascript">
        $(function () {
            let url_init = '{{ url }}';
            let $tag = $('{{ tag }}');

            let setStatus = function () {
                $('{{ tag }} a').click(function () {
                    window.sessionStorage.main_second_content = $tag.html();
                    window.sessionStorage.main_second_scroll = $(window).scrollTop();
                    window.sessionStorage.main_second_url_init = url_init;
                    window.sessionStorage.main_second_flag = true;
                });
            };

            $('#load-more').on('click', function () {
                $.ajax({
                    url: url_init,
                    type: 'get',
                    beforeSend: showLoading,
                    success: function (data) {
                        $tag.append(data.content);
                        url_init = data.next_url;
                        if (!url_init) {$('#load-more').html('全部已加载').attr('disabled', 'disabled');}
                        setStatus();
                        hideLoading();
                    }
                });
            });

            if (window.sessionStorage.main_second_flag === 'true') {
                $tag.html(window.sessionStorage.main_second_content);
                $(window).scrollTop(parseInt(window.sessionStorage.main_second_scroll));
                url_init = window.sessionStorage.main_second_url_init;
                window.sessionStorage.removeItem('main_second_flag');
                if (!url_init) {$('#load-more').html('全部已加载').attr('disabled', 'disabled');}
                setStatus();
            } else {
                $('#load-more').click();
            }

        });
    </script>

{% endmacro %}