
{% macro load_more(url, tag) %}

    <div class="row justify-content-center py-3">
        <button class="btn btn-outline-secondary" id="load-more">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            查看更多 <i class="fas fa-angle-double-down"></i>
        </button>
    </div>

    <script type="text/javascript">
        $(function () {

            let url_init = '{{ url }}';
            $('#load-more').on('click', function () {
                $.ajax({
                    url: url_init,
                    type: 'get',
                    beforeSend: () => {$('.spinner-border').show(); $(this).attr('disabled', true);},
                    success: function (data) {
                        $('{{ tag }}').append(data.content);
                        if (data.next_url) {
                            url_init = data.next_url;
                            $('.spinner-border').hide();
                            $('#load-more').removeAttr('disabled');
                        } else {
                            $('#load-more').html('全部已加载');
                        }
                    }
                });
            }).click();

        });
    </script>

{% endmacro %}