{% extends 'base.html' %}

{% block body %}
    <div class="pb-3 border-warning border-bottom">
        {% include 'main/_header.html' %}
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8 pb-5">
                <h3 class="font-weight-bold">{{ activities_obj.title }}</h3>
                <p class="text-muted">{{ activities_obj.datetime }}</p>
                <hr>
                {{ activities_obj.content | replace('<img', '<img class="img-fluid"') | safe }}
            </div>
            <div class="col-12 col-md-10 col-xl-4">
                <h3 class="font-weight-bold">我要报名</h3>
                <form>
                    <div class="form-group">
                        <label>姓名</label>
                        <input class="form-control" type="text" name="name" required>
                    </div>
                    <div class="form-group">
                        <label>联系方式</label>
                        <input class="form-control" type="text" name="contacts" required>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <input class="form-control" type="text" name="remarks">
                    </div>
                    <button class="btn btn-warning" type="button">提交报名</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $('form button').click(function () {
                if (!$('input[name="name"]').val() || !$('input[name="contacts"]').val()) {
                    showMsg('请填写姓名和联系方式。');
                    return
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'post',
                    data: $('form').serialize(),
                    beforeSend: showLoading,
                    success: function (data) {
                        hideLoading(function () {
                            showMsg(data, function () {
                                if (history.length <= 1) {location.replace('/');} else {history.back();}
                            });
                        });
                    }
                });
            });
        })
    </script>
{% endblock %}