{% extends 'base.html' %}

{% block body %}

    <div style="background: url('{{ url_for('static', filename='bg-img.png') }}') no-repeat; background-size: cover; background-position: center; height: 15rem; color: #303b4a">
        {% include "main/_header.html" %}
        <div class="container h-75 d-flex align-items-center">
            <h1 class="font-weight-bolder">{% block header_title %}{% endblock %}</h1>
        </div>
    </div>

    <div class="container">
        {% block content %}<div class="row" style="height: 30rem;"></div>{% endblock %}
    </div>

    {% include 'main/_footer.html' %}

{% endblock %}