{% extends 'base.html' %}

{% block body %}

    <div style="background: url('{{ url_for('static', filename='bg-img.png') }}') no-repeat; background-size: cover; background-position: top; color: #303b4a">
        {% include "main/_header.html" %}
        <div class="container pt-5 mt-2 pb-5">
            <h1 class="font-weight-bolder m-0">{% block header_title %}{% endblock %}</h1>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include 'main/_footer.html' %}

{% endblock %}