{% extends 'base.html' %}

{% block body %}
    <!-- 主页LOGO -->
    <div class="container py-2">
        <img src="{{ url_for('static', filename='img/logo.gif') }}" width="40rem" height="40rem"><span class="h4 align-middle font-weight-bold">超级国风</span>
    </div>

    <!-- 主页主图 -->
    <div class="py-5" style="background: url('{{ url_for('static', filename='img/bg-img.png') }}') no-repeat; background-size: cover;">
        <div class="container text-center py-5">
            <div class="m-2 px-2 py-5" style="background: rgba(255,255,255,0.4); color: #303b4a">
                <img src="{{ url_for('static', filename='img/logo.gif') }}" width="120rem" height="120rem">
                <h1 class="display-3 font-weight-bolder">超级国风</h1>
                <p class="h4">青少年经典诵读全媒体平台</p>
                <hr class="my-4 rounded-pill border-0" style="width: 3rem; height: 0.2rem; background: #fd8562">
                <p class="lead">海光老师经典诵读会，倡亲子共读、诵国学典籍、传孔孟之道、承华夏文明、浸山水之间、品书香之韵、养浩然正气。</p>
            </div>
        </div>
    </div>

    <!-- 主页导航 -->
    <div class="shadow-sm">
    <div class="container py-5">
        <div class="row p-0 m-0 no-gutters" style="color: #fd8562">
            <div class="col text-center">
                <img src="{{ url_for('static', filename='img/nav1.gif') }}" width="60" height="60" class="rounded-circle" style="background: #fd8562">
                <p><a href="{{ url_for('.news') }}" class="text-reset small stretched-link">最新动态</a></p>
            </div>
            <div class="col text-center">
                <img src="{{ url_for('static', filename='img/nav2.gif') }}" width="60" height="60" class="rounded-circle" style="background: #fd8562">
                <p><a href="{{ url_for('.activities') }}" class="text-reset small stretched-link">活动报名</a></p>
            </div>
            <div class="col text-center">
                <img src="{{ url_for('static', filename='img/nav3.gif') }}" width="60" height="60" class="rounded-circle" style="background: #fd8562">
                <p><a href="{{ url_for('.works') }}" class="text-reset small stretched-link">作品展示</a></p>
            </div>
            <div class="col text-center">
                <img src="{{ url_for('static', filename='img/nav4.gif') }}" width="60" height="60" class="rounded-circle" style="background: #fd8562">
                <p><a href="{{ url_for('.products') }}" class="text-reset small stretched-link">相关产品</a></p>
            </div>
            <div class="col text-center">
                <img src="{{ url_for('static', filename='img/nav5.gif') }}" width="60" height="60" class="rounded-circle" style="background: #fd8562">
                <p><a href="{{ url_for('.about') }}" class="text-reset small stretched-link">关于我们</a></p>
            </div>
        </div>
    </div>
    </div>

    <!-- 主页内容 -->
    <div class="container pb-5" id="content">
        <div class="row">
            <!-- 最新动态 -->
            <div class="col-md-6 pt-5" style="min-height: 10rem;">
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename='img/nav1.gif') }}" width="60" height="60">
                        <span class="lead align-bottom font-weight-bolder">最新动态</span>
                        <a class="text-decoration-none text-muted float-right mt-4 pt-3" href="{{ url_for('.news') }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                        <hr class="mt-2" style="height: 0.1rem; background: #fd8562;">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="list-unstyled news-content"></ul>
                    </div>
                </div>
            </div>

            <!-- 活动报名 -->
            <div class="col-md-6 pt-5" style="min-height: 10rem;">
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename='img/nav2.gif') }}" width="60" height="60">
                        <span class="lead align-bottom font-weight-bolder">活动报名</span>
                        <a class="text-decoration-none text-muted float-right mt-4 pt-3" href="{{ url_for('.activities') }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                        <hr class="mt-2" style="height: 0.1rem; background: #fd8562;">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="list-unstyled activities-content"></ul>
                    </div>
                </div>
            </div>

            <!-- 作品展示 -->
            <div class="col-12 pt-5" style="min-height: 10rem;">
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename='img/nav3.gif') }}" width="60" height="60">
                        <span class="lead align-bottom font-weight-bolder">作品展示</span>
                        <a class="text-decoration-none text-muted float-right mt-4 pt-3" href="{{ url_for('.works') }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                        <hr class="mt-2" style="height: 0.1rem; background: #fd8562;">
                    </div>
                </div>
                <div class="row works-content"></div>
            </div>

            <!-- 相关产品 -->
            <div class="col-12 pt-5" style="min-height: 10rem;">
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename='img/nav4.gif') }}" width="60" height="60">
                        <span class="lead align-bottom font-weight-bolder">相关产品</span>
                        <a class="text-decoration-none text-muted float-right mt-4 pt-3" href="{{ url_for('.products') }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                        <hr class="mt-2" style="height: 0.1rem; background: #fd8562;">
                    </div>
                </div>
                <div class="row products-content"></div>
            </div>
        </div>
    </div>

    <!-- 主页底部 -->
    {% include 'main/_footer.html' %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            let setStatus = function () {  // 记录页面状态
                $('#content a').on('click', function () {
                    window.sessionStorage.main_index_content = $('#content').html();
                    window.sessionStorage.main_index_scroll = $(window).scrollTop();
                    window.sessionStorage.main_index_flag = true
                });
            };

            let basic_init = [
                {url: '{{ url_for('.news_content', page=0) }}', tag: '.news-content'},
                {url: '{{ url_for('.activities_content', page=0) }}', tag: '.activities-content'},
                {url: '{{ url_for('.works_content', page=0) }}', tag: '.works-content'},
                {url: '{{ url_for('.products_content', page=0) }}', tag: '.products-content'}
            ];

            if (window.sessionStorage.main_index_flag === "true") {  // 如果是返回回来的就加载记录的页面状态否则ajax获取数据
                $('#content').html(window.sessionStorage.main_index_content);
                $(window).scrollTop(parseInt(window.sessionStorage.main_index_scroll));
                window.sessionStorage.removeItem('main_index_flag');
                setStatus();
            } else {
                for (let num = 0; num < basic_init.length; num++) {
                    let item = basic_init[num];
                    setTimeout(function () {
                        $.get(item.url, function (data) {$(item.tag).append(data.content); setStatus();});
                    }, num*500);
                }
            }
        })
    </script>
{% endblock %}