{% extends 'main/basic.html' %}

{% block header_title %}最新动态{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col col-md-10 col-xl-8">
            <ul class="list-unstyled">
              <li class="media mb-4 position-relative">
                <div class="bg-info w-25 mr-3" style="padding-bottom: 25%; background: url('{{ url_for('static', filename='img/dt.jpg') }}') no-repeat; background-size: cover; background-position: center;"></div>
                <div class="media-body">
                  <h5 class="mt-0" style="color: #fd8562;">武侯祠旁读《蜀相》，这一次诵读如此美妙</h5>
                  <p class="mb-0">不要以为孩子们静不下来，在精心制作的冥想音乐中，他们如此专心专注，甚至像个小菩萨，内心是安定的，缓缓的告别浮躁，找寻自我心底的宁静。</p>
                  <a href="#" class="stretched-link text-secondary small">更多 <i class="fas fa-angle-double-right"></i> </a>
                </div>
              </li>
              <li class="media mb-4 position-relative">
                <div class="bg-info w-25 mr-3" style="padding-bottom: 25%; background: url('{{ url_for('static', filename='img/dt.jpg') }}') no-repeat; background-size: cover; background-position: center;"></div>
                <div class="media-body">
                  <h5 class="mt-0" style="color: #fd8562;">武侯祠旁读《蜀相》，这一次诵读如此美妙</h5>
                  <p class="mb-0">不要以为孩子们静不下来，在精心制作的冥想音乐中，他们如此专心专注，甚至像个小菩萨，内心是安定的，缓缓的告别浮躁，找寻自我心底的宁静。</p>
                  <a href="#" class="stretched-link text-secondary small">更多 <i class="fas fa-angle-double-right"></i> </a>
                </div>
              </li>
              <li class="media mb-4 position-relative">
                <div class="bg-info w-25 mr-3" style="padding-bottom: 25%; background: url('{{ url_for('static', filename='img/dt.jpg') }}') no-repeat; background-size: cover; background-position: center;"></div>
                <div class="media-body">
                  <h5 class="mt-0" style="color: #fd8562;">武侯祠旁读《蜀相》，这一次诵读如此美妙</h5>
                  <p class="mb-0">不要以为孩子们静不下来，在精心制作的冥想音乐中，他们如此专心专注，甚至像个小菩萨，内心是安定的，缓缓的告别浮躁，找寻自我心底的宁静。</p>
                  <a href="#" class="stretched-link text-secondary small">更多 <i class="fas fa-angle-double-right"></i> </a>
                </div>
              </li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center py-3">
        <button class="btn btn-outline-secondary" id="load-more">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            查看更多 <i class="fas fa-angle-double-down"></i>
        </button>
    </div>

    <script type="text/javascript">
        $(function () {
            let url_init = '';
            $('#load-more').click(function () {
                $.ajax({
                    url: url_init,
                    type: 'get',
                    beforeSend: function() {},
                    success: function (data) {
                        $('.list-unstyled').append(data.content);
                        url_init = data.next_url;
                    }
                });
            });
        });
    </script>
{% endblock %}
