
{% for item in content_list %}
    <li class="media mb-4 position-relative">
        <div class="w-25 mr-3" style="padding-bottom: 25%; background: url('{{ item.cover }}') no-repeat; background-size: cover; background-position: center;"></div>
        <div class="media-body">
            <h5 class="mt-0" style="color: #fd8562;">{{ item.title }}</h5>
            <small class="text-muted">{{ item.datetime }}</small>
            <p class="mb-0">{{ item.summary }}</p>
            <a href="{{ url_for('.news_info', nid=item.id) }}" class="stretched-link text-secondary small">详情 <i class="fas fa-angle-double-right"></i> </a>
        </div>
    </li>
{% else %}
    <li>暂时什么也没有...</li>
{% endfor %}
