{% extends 'base.html' %}

{% block body %}
    <div class="pb-3 border-warning border-bottom">
        {% include 'main/_header.html' %}
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col col-md-10 col-xl-8">
                <h3 class="font-weight-bold">武侯祠旁读《蜀相》，这一次诵读如此美妙</h3>
                <p class="text-muted">2019-06-18 17:00:00</p>
                <hr>
                <p>不要以为孩子们静不下来，在精心制作的冥想音乐中，他们如此专心专注，甚至像个小菩萨，内心是安定的，缓缓的告别浮躁，找寻自我心底的宁静。</p>
            </div>
        </div>
    </div>
{% endblock %}