{% extends 'main/basic.html' %}

{% block content %}
    <div class="row">
        <div class="col-6 col-md-4 col-xl-3 mb-4 shadow-sm">
            <div class="w-100" style="height: 0; padding-bottom: 100%; background: url('{{ url_for('static', filename='product/cp.png') }}') no-repeat; background-size: cover; background-position: center;"></div>
            <p class="text-truncate mb-0">经典论语著作，全本，诵读经典，提高诵读能力，提高国风能力</p>
            <p class="d-flex justify-content-between">
                <span class="text-danger lead font-weight-bolder">&yen; 99.9</span>
                <span class="pt-1">
                    <a href="#" class="text-reset stretched-link">
                        购买 <i class="fas fa-shopping-cart"></i>
                    </a>
                </span>
            </p>
        </div>
        <div class="col-6 col-md-4 col-xl-3 mb-4 shadow-sm">
            <div class="w-100" style="height: 0; padding-bottom: 100%; background: url('{{ url_for('static', filename='product/cp.png') }}') no-repeat; background-size: cover; background-position: center;"></div>
            <p class="text-truncate mb-0">经典论语著作，全本，诵读经典，提高诵读能力，提高国风能力</p>
            <p class="d-flex justify-content-between">
                <span class="text-danger lead font-weight-bolder">&yen; 99.9</span>
                <span class="pt-1">
                    <a href="#" class="text-reset stretched-link">
                        购买 <i class="fas fa-shopping-cart"></i>
                    </a>
                </span>
            </p>
        </div>
        <div class="col-6 col-md-4 col-xl-3 mb-4 shadow-sm">
            <div class="w-100" style="height: 0; padding-bottom: 100%; background: url('{{ url_for('static', filename='product/cp.png') }}') no-repeat; background-size: cover; background-position: center;"></div>
            <p class="text-truncate mb-0">经典论语著作，全本，诵读经典，提高诵读能力，提高国风能力</p>
            <p class="d-flex justify-content-between">
                <span class="text-danger lead font-weight-bolder">&yen; 99.9</span>
                <span class="pt-1">
                    <a href="#" class="text-reset stretched-link">
                        购买 <i class="fas fa-shopping-cart"></i>
                    </a>
                </span>
            </p>
        </div>
    </div>
{% endblock %}