{% extends 'base.html' %}

{% block body %}
    <div class="border-bottom border-warning pb-3">
        {% include 'main/_header.html' %}
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 pb-5">
                <div class="w-100" style="padding-bottom: 100%; background: url('{{ products_obj.url }}') no-repeat;
                        background-position: center; background-size: cover;"></div>
            </div>

            <div class="col">
                <p class="lead font-weight-bold">{{ products_obj.title }}</p>
                <p class="text-danger font-weight-bold">&yen; {{ products_obj.price }}</p>
                <form>
                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label>联系方式</label>
                        <input type="text" class="form-control" name="contacts" required placeholder="输入微信同号手机以方便联系">
                    </div>
                    <div class="form-group">
                        <label>购买数量</label>
                        <input type="number" class="form-control" name="count" value="1">
                    </div>
                    <div class="form-group">
                        <label>收货地址</label>
                        <input type="text" class="form-control" name="address" required>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <input type="text" class="form-control" name="remarks">
                    </div>
                    <button type="button" class="btn btn-warning">提交订单</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $('form button').click(function () {
                if (!$('input[name="name"]').val() || !$('input[name="contacts"]').val() || !$('input[name="address"]').val()) {
                    showMsg('请输入姓名、联系方式、收货地址。');
                    return
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'post',
                    data: $('form').serialize(),
                    beforeSend: showLoading,
                    success: function (data) {
                        hideLoading(function () {
                            showMsg(data, function () {
                                window.document.referrer === '' ? location.href = '/' : history.back();
                                // if (history.length <= 1) {location.replace('/');} else {history.back();}
                            })
                        })
                    },
                    error: function () {
                        hideLoading(function () {
                            showMsg('商品下单失败，请稍后重试。', function () {
                                window.document.referrer === '' ? location.href = '/' : history.back();
                                // if (history.length <= 1) {location.replace('/');} else {history.back();}
                            })
                        })
                    }
                })
            });
        });
    </script>
{% endblock %}