
{% for item in content_list %}
    <div class="col-6 col-md-4 col-xl-3 mb-4 shadow-sm">
        <div class="w-100" style="height: 0; padding-bottom: 100%; background: url('{{ item.img }}') no-repeat; background-size: cover; background-position: center;"></div>
        <p class="text-truncate mb-0">{{ item.name }}</p>
        <p class="d-flex justify-content-between">
            <span class="text-danger lead font-weight-bolder">&yen; {{ item.price }}</span>
            <span class="pt-1">
                <a href="{{ item.info }}" class="text-reset stretched-link">
                    购买 <i class="fas fa-shopping-cart"></i>
                </a>
            </span>
        </p>
    </div>
{% endfor %}