<!doctype html>
<html lang="zh-CN" {% block html_tag %}{% endblock %}>
  <head {% block head_tag %}{% endblock %}>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    {% if BOOT_CDN %}
    <link href="{{ url_for('static', filename='bootstrap-4.3.1/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/bootstrap.bundle.min.js') }}"></script>
{#    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">#}
{#    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>#}
    <link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/datatables/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.bootcss.com/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    {% else %}
    {% endif %}

    {% block head %}{% endblock %}

    <title>超级国风</title>

  </head>

  <body {% block body_tag %}{% endblock %}>

    <!-- loading modal -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="spinner-border text-warning" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- flash modal -->
    <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="flashModalLabel">消息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">确认</button>
          </div>
        </div>
      </div>
    </div>

    {% block body %}{% endblock %}

    <script type="text/javascript">

        function showMsg(msg, func = function () {}) {
            $("#flashModal .modal-body").html(msg);
            $("#flashModal").one('hidden.bs.modal', func).modal('show');
        }

        function showLoading() {
            $('#loadingModal').modal({backdrop: 'static', keyboard: false});
        }

        function hideLoading(func = function () {}) {
            $('#loadingModal').one('hidden.bs.modal', func);
            setTimeout(function () { $('#loadingModal').modal('hide'); }, 500);
        }
        
        function confirmAction(title, body, btn_name, btn_func = function () {}) {
            $('#confirmModal .modal-title').html(title);
            $('#confirmModal .modal-body').html(body);
            $('#confirmModal .modal-footer .btn-warning').html(btn_name).one('click', function () {
                showLoading(); btn_func();
            });
            $('#confirmModal').one('hidden.bs.modal', function () {
                $('#confirmModal .modal-footer .btn-warning').off();  // 对于绑定的事件要移除再绑定，否则会事件叠加
            }).modal('show');
        }

        function deletionConfirm(func = function () {}) {
            confirmAction('删除操作确认消息', '请再次确认是否要删除这条内容！删除后无法恢复。', '删除', func)
        }

    </script>

    {% block javascript %}{% endblock %}

  </body>
</html>